@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(./material-icons.woff2) format("woff2");
}

@font-face {
    font-family: "Roboto Mono";
    src: url("./RobotoMono-Variable.woff2");
    font-style: normal;
    font-weight: 300 900;
    font-display: swap;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("./RobotoMono-Italic-Variable.woff2");
    font-style: italic;
    font-weight: 300 900;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("./InterVariable.woff2");
    font-style: normal;
    font-weight: 300 900;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("./InterVariable-Italic.woff2");
    font-style: italic;
    font-weight: 300 900;
    font-display: swap;
}

*, html {
    font-variation-settings: "opsz" 15 !important;
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}
