name: Build and Release

on:
    push:
        branches:
            - main

jobs:
    build:
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]

        runs-on: ${{ matrix.os }}

        steps:
            - name: Checkout code
              uses: actions/checkout@main

            - name: Set up Node.js
              uses: actions/setup-node@main
              with:
                  node-version: "20" # Use the latest Node.js version

            - name: Install dependencies
              run: npm install

            - name: Build Electron app
              run: npm run make
              env:
                  CSC_IDENTITY_AUTO_DISCOVERY: false

            - name: Upload Artifacts
              uses: actions/upload-artifact@main
              with:
                  name: electron-app-${{ matrix.os }}
                  path: out/make/*

    release:
        runs-on: ubuntu-latest
        needs: build

        steps:
            - name: Checkout code
              uses: actions/checkout@main
              with:
                  fetch-depth: 0

            - name: Download build artifacts for Linux
              uses: actions/download-artifact@main
              with:
                  name: electron-app-ubuntu-latest
                  path: ./release/linux

            - name: Download build artifacts for macOS
              uses: actions/download-artifact@main
              with:
                  name: electron-app-macos-latest
                  path: ./release/macos

            - name: Download build artifacts for Windows
              uses: actions/download-artifact@main
              with:
                  name: electron-app-windows-latest
                  path: ./release/windows

            - name: Get latest tag
              id: get_tag
              run: |
                  latest_tag=$(git tag | sort -V | tail -n 1)
                  if [ -z "$latest_tag" ]; then
                    new_tag="1.0"
                  else
                    new_tag=$(( ${latest_tag%.*} + 1 )).0
                  fi
                  echo "latest_tag=$new_tag" >> $GITHUB_ENV

            - name: Create tag
              run: |
                  git tag ${{ env.latest_tag }}
                  git push origin ${{ env.latest_tag }}

            - name: Create GitHub release
              id: create_release
              uses: actions/create-release@main
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  tag_name: ${{ env.latest_tag }}
                  release_name: Release ${{ env.latest_tag }}
                  body: |
                      Release ${{ env.latest_tag }} of the project.
                  draft: false
                  prerelease: false

            - name: Upload Linux Release Asset
              uses: actions/upload-release-asset@main
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ steps.create_release.outputs.upload_url }}
                  asset_path: ./release/linux/*.AppImage
                  asset_name: linux.AppImage
                  asset_content_type: application/octet-stream
            
            - name: Upload Linux Release Asset (RPM)
              uses: actions/upload-release-asset@main
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ steps.create_release.outputs.upload_url }}
                  asset_path: ./release/linux/*.rpm
                  asset_name: linux.rpm
                  asset_content_type: application/octet-stream

            - name: Upload Linux Release Asset (DEB)
              uses: actions/upload-release-asset@main
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ steps.create_release.outputs.upload_url }}
                  asset_path: ./release/linux/*.deb
                  asset_name: linux.deb
                  asset_content_type: application/octet-stream

            - name: Upload macOS Release Asset
              uses: actions/upload-release-asset@main
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ steps.create_release.outputs.upload_url }}
                  asset_path: ./release/macos/*.dmg
                  asset_name: macos.dmg
                  asset_content_type: application/octet-stream

            - name: Upload Windows Release Asset
              uses: actions/upload-release-asset@main
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ steps.create_release.outputs.upload_url }}
                  asset_path: ./release/windows/*.exe
                  asset_name: windows.exe
                  asset_content_type: application/octet-stream

            - name: Upload ZIP Release Asset
              uses: actions/upload-release-asset@main
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ steps.create_release.outputs.upload_url }}
                  asset_path: ./release/zip/*.zip
                  asset_name: app-blob-opera.zip
                  asset_content_type: application/x-zip

    deploy:
        runs-on: ubuntu-latest
        needs: build
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}

        steps:
            - name: Checkout code
              uses: actions/checkout@main

            - name: Setup Pages
              uses: actions/configure-pages@main

            - name: Upload artifact
              uses: actions/upload-pages-artifact@main
              with:
                  # Upload entire repository
                  path: " . "

            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@main
