name: Build and Release

on:
    push:
        branches:
            - main

permissions:
    contents: write
    pages: write
    id-token: write

jobs:
    build:
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]

        runs-on: ${{ matrix.os }}

        steps:
            - name: Checkout code
              uses: actions/checkout@main

            - name: Set up Node.js
              uses: actions/setup-node@main
              with:
                  node-version: "20" # Use the latest Node.js version

            - name: Cache Node.js dependencies
              uses: actions/cache@main
              with:
                  path: ~/.npm
                  key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: |
                      ${{ runner.OS }}-node-

            - name: Set up Python (macOS only)
              if: matrix.os == 'macos-latest'
              uses: actions/setup-python@main
              with:
                  python-version: "3.12"

            - name: Cache Python dependencies (macOS only)
              if: matrix.os == 'macos-latest'
              uses: actions/cache@main
              with:
                  path: ~/.cache/pip
                  key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
                  restore-keys: |
                      ${{ runner.os }}-pip-

            - name: Cache Electron build (all platforms)
              uses: actions/cache@main
              with:
                  path: |
                    ${{ github.workspace }}/.electron
                    ${{ github.workspace }}/.cache/electron
                    ${{ github.workspace }}/.cache/electron-builder
                  key: ${{ runner.os }}-electron-cache-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: |
                    ${{ runner.os }}-electron-cache-

            - name: Install Python virtual environment (macOS only)
              if: matrix.os == 'macos-latest'
              run: |
                  python3 -m venv venv
                  source venv/bin/activate
                  pip install --upgrade pip setuptools

            - name: Ensure package-lock.json is up to date
              run: npm install
              env:
                  CI: true

            - name: Install dependencies (Ubuntu and macOS)
              if: matrix.os != 'windows-latest'
              run: |
                  if [ "${{ matrix.os }}" = "macos-latest" ]; then
                    source venv/bin/activate
                    npm install appdmg --save-dev
                  fi
                  npm ci

            - name: Install dependencies (Windows)
              if: matrix.os == 'windows-latest'
              run: npm ci

            - name: Build Electron app (macOS)
              if: matrix.os == 'macos-latest'
              run: |
                    source venv/bin/activate
                    npm run make -- --arch="universal"
              env:
                  CSC_IDENTITY_AUTO_DISCOVERY: false

            - name: Build Electron app (Windows & Linux)
              if: matrix.os !== 'macos-latest'
              run: npm run make
              env:
                  CSC_IDENTITY_AUTO_DISCOVERY: false

            - name: Upload Artifacts
              uses: actions/upload-artifact@main
              with:
                  name: yell0wsuit-blob-opera-${{ matrix.os }}
                  path: out/make/*

    release:
        runs-on: ubuntu-latest
        needs: build

        steps:
            - name: Checkout code
              uses: actions/checkout@main
              with:
                  fetch-depth: 0

            - name: Download build artifacts for Linux
              uses: actions/download-artifact@main
              with:
                  name: yell0wsuit-blob-opera-ubuntu-latest
                  path: ./release/linux

            - name: Download build artifacts for macOS
              uses: actions/download-artifact@main
              with:
                  name: yell0wsuit-blob-opera-macos-latest
                  path: ./release/macos

            - name: Download build artifacts for Windows
              uses: actions/download-artifact@main
              with:
                  name: yell0wsuit-blob-opera-windows-latest
                  path: ./release/windows

            - name: Get latest tag
              id: get_tag
              run: |
                  latest_tag=$(git tag | sort -V | tail -n 1)
                  if [ -z "$latest_tag" ]; then
                    new_tag="1.0"
                  else
                    new_tag=$(( ${latest_tag%.*} + 1 )).0
                  fi
                  echo "latest_tag=$new_tag" >> $GITHUB_ENV

            - name: Create tag
              run: |
                  git tag ${{ env.latest_tag }}
                  git push origin ${{ env.latest_tag }}

            - name: Create GitHub release
              id: create_release
              uses: actions/create-release@main
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  tag_name: ${{ env.latest_tag }}
                  release_name: Release ${{ env.latest_tag }}
                  body: |
                      Release ${{ env.latest_tag }} of the project.
                  draft: false
                  prerelease: false

            - name: Upload Linux Release Asset
              run: |
                  for file in $(find ./release/linux -type f); do
                    echo "Uploading $file"
                    gh release upload ${{ env.latest_tag }} "$file" --clobber
                  done
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Upload macOS Release Asset
              run: |
                  for file in $(find ./release/macos -type f); do
                    echo "Uploading $file"
                    gh release upload ${{ env.latest_tag }} "$file" --clobber
                  done
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Upload Windows Release Asset
              run: |
                  for file in $(find ./release/windows -type f); do
                    echo "Uploading $file"
                    gh release upload ${{ env.latest_tag }} "$file" --clobber
                  done
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Upload ZIP Release Asset
              run: |
                  for file in $(find ./release/zip -type f); do
                    echo "Uploading $file"
                    gh release upload ${{ env.latest_tag }} "$file" --clobber
                  done
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    deploy:
        runs-on: ubuntu-latest
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}

        steps:
            - name: Checkout code
              uses: actions/checkout@main

            - name: Setup Pages
              uses: actions/configure-pages@main

            - name: Upload artifact
              uses: actions/upload-pages-artifact@main
              with:
                  path: "./app/"

            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@main
